﻿@{
    ViewBag.Title = "Home Page";
}

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="@Url.Action("Index","Home")">For Control</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        @*<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#about">Sobre Nós</a>
                </li>
                <li>
                    <a href="#services">Serviços Prestados</a>
                </li>
                <li>
                    <a href="#contact">Contato</a>
                </li>
            </ul>
        </div>*@
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!-- Header -->
<a name="about"></a>
<div class="intro-header-mini">
</div>
<!-- /.intro-header -->
<!-- Page Content -->
<div class="content-section-b">

    <div class="container">

        <h4>Associações/Prefeituras com o serviço disponível</h4>
        <div class="row">
            <div class="col-sm-3">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <img class="img-responsive center-block" src="~/img/noimage.png" alt="">
                <h6>ASSOCIAÇÃO DE ÁGUA DE LINHA GERALDO</h6>
                <a href="http://agua.forcontrol.com.br"><span>Acessar</span> <i class="fa fa-external-link fa-fw"></i></a>
            </div>
            <div class="col-sm-3">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <img class="img-responsive center-block" src="~/img/noimage.png" alt="">
                <h6>ASSOCIAÇÃO DE ÁGUA ROTA DO SOL</h6>
                <a href="http://rotadosol.forcontrol.com.br"><span>Acessar</span> <i class="fa fa-external-link fa-fw"></i></a>
            </div>
            <div class="col-sm-3">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <img class="img-responsive center-block" src="~/img/noimage.png" alt="">
                <h6>ASSOCIAÇÃO DE ABASTECIMENTO DE AGUA LINHA LENZ</h6>
                <a href="http://lenz.forcontrol.com.br"><span>Acessar</span> <i class="fa fa-external-link fa-fw"></i></a>
            </div>
            <div class="col-sm-3">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <img class="img-responsive center-block" src="~/img/noimage.png" alt="">
                <h6>ASSOCIAÇÃO DE ABASTECIMENTO DE ÁGUA DE NOVA WESTFÁLIA</h6>
                <a href="http://novawestfalia.forcontrol.com.br"><span>Acessar</span> <i class="fa fa-external-link fa-fw"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <img class="img-responsive center-block" src="~/img/logo_apdl.png" alt="">
                <h6>APDL - ASSOCIAÇÃO PRÓ DESENVOLVIMENTO DE LANGUIRU</h6>
                <a href="http://www.apdl.com.br/FASWeb"><span>Acessar</span> <i class="fa fa-external-link fa-fw"></i></a>
            </div>
            <div class="col-sm-3">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <img class="img-responsive center-block" src="~/img/noimage.png" alt="">
                <h6>SOCIEDADE DE ABASTECIMENTO DE ÁGUA BEIJA-FLOR</h6>
                <a href="http://agua.forcontrol.com.br"><span>Acessar</span> <i class="fa fa-external-link fa-fw"></i></a>
            </div>
            <div class="col-sm-3">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <img class="img-responsive center-block" src="~/img/noimage.png" alt="">
                <h6>SOCIEDADE DE ABASTECIMENTO DE ÁGUA SÃO BENTO CENTRO</h6>
                <a href="http://saobento.forcontrol.com.br:8060/"><span>Acessar</span> <i class="fa fa-external-link fa-fw"></i></a>
            </div>
            <div class="col-sm-3">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <img class="img-responsive center-block" src="~/img/noimage.png" alt="">
                <h6>SOCIEDADE DE ÁGUA LINK WINK</h6>
                <a href="http://agua.forcontrol.com.br"><span>Acessar</span> <i class="fa fa-external-link fa-fw"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <img class="img-responsive center-block" src="~/img/logo_unicatu.jpg" alt="">
                <h6>UNICATÚ - ÁGUA E SOLO SOLUÇÕES EM SANEAMENTO LTDA</h6>
                <a href="http://unicatu.forcontrol.com.br"><span>Acessar</span> <i class="fa fa-external-link fa-fw"></i></a>
            </div>
        </div>
    </div>
        <!-- /.container -->

    </div>
<!-- /.content-section-b -->


